apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: git-clone
spec:
  params:
    - name: url
      type: string
      description: Git repository URL
    - name: revision
      type: string
      description: Branch, tag, or commit SHA
      default: main
  workspaces:
    - name: output
      description: Cloned repository destination
  steps:
    - name: clone
      image: alpine/git
      script: |
        #!/bin/sh
        set -eu
        git clone $(params.url) $(workspaces.output.path)/source
        cd $(workspaces.output.path)/source
        git checkout $(params.revision)
        echo "Cloned $(params.url) at $(git rev-parse HEAD)"
